# === Terraform ===
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Variáveis e arquivos sensíveis
*.tfvars
*.auto.tfvars
terraform.tfvars.json

# Logs e arquivos temporários
*.log
.crash/
*.lock.info

# === IDEs ===
.vscode/
.idea/
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
